@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-serif-display-riski {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.cpink {
  color: pink;
}
.dpink {
  background-color: #e75480;
}
.pink,
.dpink:hover {
  background-color: pink;
}

.img-style {
  width: 212px;
  height: 280px;
}
